* , *::before , *::after{
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}


body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right , #7b4397 , #dc2430);
}


.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4 , 100px);
    grid-template-rows: minmax(120px , auto) repeat(5 , 100px);

    button{
        cursor: pointer;
        outline: none;
        font-size: 2rem;
        border: 1px solid white;
        background: rgba(255 , 255 , 255 , .75);
        &:hover{
            background: rgba(255 , 255 , 255 , .9);
        }
    }

    .span-two{
        grid-column: span 2;
    }

    .output{
        grid-column: 1 / -1;
        background: rgba(0,0,0, .75);
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-direction: column;
        word-wrap: break-word;
        word-break: break-all;
        padding: 10px;
        .previous-operand{
            color: rgba(255,255,255 , .75);
            font-size: 1.5rem;
        }
        .current-operand{
            color: white;
            font-size: 2.5rem;
        }
    }
}